@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div class="header">

               <h1> Welcome to Cuyahoga Community College Student Services Online</h1>

                <div class="paragraph">
                    Cuyahoga Community College Recognizes students' rights to access personal
                    and academic records in accordance with the Family Educational Rights and
                    Privacy Act of 1974(FERPA) as amended by Public Law 93-568.
                </div>

            </div>

            <div class="content">

                <div class="login">

                    <div class="loginText"></div>
                    <div class="loginUser"></div>
                    <div class="loginPassword"></div>
                    <div class="loginButton"></div>


                </div>

                <div class="divider">

                </div>

                <div class="create">

                    <div class="createText"></div>
                    <div class="createUser"></div>
                    <div class="createPassword"></div>
                    <div class="createEmail"></div>
                    <div class="createRepeatEmail"></div>
                    <div class="createButton"></div>

                </div>

            </div>

            <div class="footer">
                Cuyahoga Community College</br>
                700 Carnegie Avenue, Cleveland, Ohio 44115
            </div>

            

        </div>

    </body>

</html>