body
{
    width: 520px;
    font: 12px Calibri, regular;
}

header
{
    text-align: left;
    font: 16px Cambria, bold;
}

.paragraph
{
    text-align: left;
    font: 12px Calibri, regular;
    font-style: italic;
}

.content
{
    height: 290px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 1em 0;
}

.divider
{
    height: 1px;
    width: 480px;
    background-color: lightblue;
    margin: auto;
    margin-top: 145px;

}